*{
    margin: 0;
    
}
img{
    width: 100%;
}
.nav-bar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}
@media screen and (max-width:1146px) {
    .nav-bar{
        position: sticky;
        top: 0;
    }
}
.right{
    background: #2fc1de; 
    height: 1184px;
    
}
.left{
    font-size: x-large;
}
.img-responsive{
    width: 210px;
    height: 550px;
    transform: rotate(135dg);
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 1;
} 
.bg-change{
    background-color: #2a174a;
}
.bg-color{
    background-color: #2a174a;
}
.live{
    position: absolute;
    z-index: 2;
    left: 20%;
}

@media screen and (max-width:450px) {
    .img-responsive{
        display: block;
        max-width: 70px;
        height: 240px;
        transform: rotate(135dg);
        position: relative;
        left: 50%;
        top: 50%;
    }
}


@media screen and (max-width:1200px) {
    .live{
        position: absolute;
        text-align: center;
        display: flex;
       justify-content: center;
       z-index: 2;
       left: 42%;
       
    }
}

@media screen and (max-width:900px) {
    .img-responsive{
        display: block;
        max-width: 120px;
        height: 380px;
        transform: rotate(135dg);
        position: relative;
        left: 50%;
        top: 38%;
    }
    
}
.one{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
   
}
.image-logo{
    height: 50px;
    width: 50px;
}
.links a{
    color: black;
    cursor: pointer;
    font-weight: 500;
}
.links a:hover{
    color: brown;
}
.links .image-logo{
    height: 30px;
    width: 30px;
}